body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

.info {
    position: absolute;
    margin-left: 52vh;
    top: 20px;
    left: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info h2 {
    margin: 0;
    padding: 0;
}

.info p {
    margin: 5px 0;
}
